name: Build and publish the project

on:
  push:

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4

      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          repository: Ramanan98/KubernetesSubmissions
          path: infra
          token: ${{ secrets.INFRA_REPO_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and publish todo_backend
        run: |
          cd todo_backend
          docker build -t ramanan98/todo-backend:$GITHUB_SHA .
          docker push ramanan98/todo-backend:$GITHUB_SHA

      - name: Build and publish reminder
        run: |
          cd reminder
          docker build -t ramanan98/reminder:$GITHUB_SHA .
          docker push ramanan98/reminder:$GITHUB_SHA

      - name: Build and publish image_write
        run: |
          cd image_write
          docker build -t ramanan98/image-write:$GITHUB_SHA .
          docker push ramanan98/image-write:$GITHUB_SHA

      - name: Build and publish image_read
        run: |
          cd image_read
          docker build -t ramanan98/image-read:$GITHUB_SHA .
          docker push ramanan98/image-read:$GITHUB_SHA

      - name: Build and publish broadcaster
        run: |
          cd broadcaster
          docker build -t ramanan98/broadcaster:$GITHUB_SHA .
          docker push ramanan98/broadcaster:$GITHUB_SHA

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Determine target environment
        id: env
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
          echo "target=prod" >> $GITHUB_OUTPUT
          echo "path=todo_app/overlays/prod" >> $GITHUB_OUTPUT
          else
          echo "target=staging" >> $GITHUB_OUTPUT
          echo "path=todo_app/overlays/staging" >> $GITHUB_OUTPUT
          fi

      - name: Update images in staging kustomization
        if: steps.env.outputs.target == 'staging'
        run: |
          cd infra/todo_app/overlays/staging
          kustomize edit set image backend-image=ramanan98/todo-backend:$GITHUB_SHA
          kustomize edit set image reminder-image=ramanan98/reminder:$GITHUB_SHA
          kustomize edit set image image-write-image=ramanan98/image-write:$GITHUB_SHA
          kustomize edit set image image-read-image=ramanan98/image-read:$GITHUB_SHA
          kustomize edit set image broadcaster-image=ramanan98/broadcaster:$GITHUB_SHA

      - name: Update images in prod kustomization
        if: steps.env.outputs.target == 'prod'
        run: |
          cd infra/todo_app/overlays/prod
          kustomize edit set image backend-image=ramanan98/todo-backend:$GITHUB_SHA
          kustomize edit set image reminder-image=ramanan98/reminder:$GITHUB_SHA
          kustomize edit set image image-write-image=ramanan98/image-write:$GITHUB_SHA
          kustomize edit set image image-read-image=ramanan98/image-read:$GITHUB_SHA
          kustomize edit set image broadcaster-image=ramanan98/broadcaster:$GITHUB_SHA

      - name: Rebase infra repo on latest main
        run: |
          cd infra
          git pull --rebase origin main

      - name: Commit and push to infra repo
        uses: EndBug/add-and-commit@v9
        with:
          cwd: infra
          add: ${{ steps.env.outputs.path }}/kustomization.yaml
          message: "Update images to ${{ github.sha }}"
          push: origin main
